
#allPage {
    color: peru;
}

.banner-head {
    color: #FFFFFF;
}

#navigation {
    background-color: Chocolate;
}

#navigation li a {
    color: #FFFFFF;
}

#navigation li a:hover {
    background-color: #FFFFFF;
    color: chocolate;
}

#content {
    background-color: cornsilk;
}

.userinput, .userinputmultiline {
    color: peru;
}

.btn {
    border-color: peru;
    background-color: peru;
    color: #FFFFFF;
}

.btn:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    color: peru;
}

#viewbooktable, #viewbooktable tr, #viewbooktable td {
    border: 1px solid peru;
}

#footer {
    background-color: chocolate;
    color: #FFFFFF;
}

.GridMain {
    color: white;
}

.GridRow {
    color: Chocolate;   
}

.GridSelectedRow {
    color: Chocolate;
}

.GridHeader {
    background-color: Chocolate;
}

#logDiv {
    /*background-color: Chocolate;*/
    background-color: red;
}



.loginName {
    color: #FFFFFF;
}