
#allPage {
    color: #000080;
}

.banner-head {
    color: #FFFFFF;
}

#navigation {
    background-color: Chocolate;
}

#navigation li a {
    color: #FFFFFF;
}

    #navigation li a:hover {
        background-color: #FFFFFF;
        color: chocolate;
    }

#content {
    background-color: cornsilk;
}

#IntroText {
    color: peru;
}

.userinput {
    color: peru;
}


.btn {
    border-color: peru;
    background-color: peru;
    color: #FFFFFF;
}
    .btn a:hover {
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        color: peru;
    }

#footer {
    background-color: chocolate;
    color: #FFFFFF;
}