.label {
    display: inline-block;
    vertical-align:top;
}

.userinput, .userinputmultiline {
    width: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.userinput {
    height: 20px;
}

.userinputmultiline {
    height: 80px;
}

.btn {
    text-transform: capitalize;
    border-radius: 4px;
    border-style: solid;
    cursor: pointer;
    height:25px;
}

.GridMain {
    border-right: gainsboro thin solid;
    border-top: gainsboro thin solid;
    border-left: gainsboro thin solid;
    border-bottom: gainsboro thin solid;
    width: 400px;
}

.GridRow {
    background-color: #FFFAFA;
}

.GridSelectedRow {
    background-color: #E6E6FA;
}

.GridHeader {
    font-weight: bold;
    text-align: left;
}

.loginStatus, .loginName{
    position: relative;
    top: 5px;
}
