#HomeContentPosition, #AddBookContentPosition, #ViewBookContentPosition {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#HomeContentPosition {
    top: 30px;
    width: 560px;
}

#AddBookContentPosition {
    top: 80px;
    width: 400px;
}

#ViewBookContentPosition {
    top: 80px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

#viewbooktable {
    border-collapse: collapse;
    width: 400px;
}

#SearchBookCriteria {
    position: relative;
    top: 50px;
    left: 50px;
    width: 100px;
    float: left;
}

#SearchBookResult {
    position: relative;
    top: 50px;
    left: 180px;
    width: 600px;
}
