#HomeContentPosition, #AddBookContentPosition, #ViewBookContentPosition {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#HomeContentPosition {
    top: 30px;
    width: 560px;
}

#AddBookContentPosition {
    top: 80px;
    width: 400px;
}

#ViewBookContentPosition {
    top: 80px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}

#viewbooktable {
    border-collapse: collapse;
    width: 400px;
}
